.avatar {
    height: 125px;
    width: 125px;
    border-radius: 100%;
    align-items: center;
    margin-top: 10px;
}

.avatar-box {
    text-align: center;
}

.gif {
    width: 100%;
    height: auto;
    min-height: 170px;
}

.post-description {
    background-color: whitesmoke;
    height: 200px;
}

.footer-row {
    height: 200px;
    padding-top: 25px;
}